.options{
    padding: 1% 3%;
    border: 1px solid blue;
    border-radius: 12px;
    margin-right: 2%;
    margin-top: 1%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.options:hover {
    padding: 1% 3%;
    border: none;
    border-radius: 12px;
    background-color: #D6DBF5;
}


@media (max-width: 1212px){
   .options{
       font-size : 15px;
   }
}