
.question {
    text-align: left;
}

.question--answers{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.question h2 {
    margin: 1%;
    font-family: 'Karla', sans-serif;
}